@import 'color.scss';
@import 'modal.scss';
@import 'background.scss';
@import 'radius.scss';
@import 'shadow.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white-gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
